*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    color: white;
}
body
{
    width: 100vw;
    overflow-x: hidden;
    color: rgb(5, 5, 5);
}
.bg
{
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    height: 100vh;
    width: 100vw;

    z-index: -1;

    background: rgb(5, 5, 5);
}
.main-content
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    max-width: 480px;
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pf-pic
{
    margin: 64px 0px 32px 0px;
}
.rhyo-svg
{
    margin-bottom: 32px;
}
.track-links
{
    width: 94%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.track-art-link
{
    width: 100%; 
    max-width: 220px;
}
.artwork
{
    position: relative;

    width: 100%;

    margin-bottom: 16px;
}
.artwork img
{
    display: block;

    width: 100%;
}
.black-bar
{
    position: absolute;
    bottom: 0px;

    height: 40px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.5);
}
.track-id
{
    margin-left: 12px;
}
.arrow
{
    margin-right: 24px;
    transition: 200ms;
}
.artwork:hover .arrow
{
    margin-right: 12px;
    transition: 100ms;
}
#spotify,#apple-music,#youtube
{
    fill: white;
}
.btns
{
    width: 94%;
    max-width: 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.lstn-more
{
    width: 240px;
    height: 48px;

    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lstn-more-txt
{
    margin-left: 12px;
}
.lstn-more:hover .arrow
{
    margin-right: 12px;
}
.strm-services
{
    height: 48px;
    width: 48px;

    border: 1px solid white;
    border-radius: 0px;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    filter: saturate(0) brightness(5);

    transition: 200ms;
}
.strm-services:hover
{
    /* border-radius: 10px; */
    background-color: white;
    filter: saturate(1) brightness(1);
    transition: 100ms ease-in-out;
}
.lower
{
    width: 94%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
@media only screen and (max-width:500px) {
    .track-links
    {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .btns
    {
        width: 160px;
        margin-top: 12px;
    }
    .lower
    {
        margin-top: 12px;
        flex-direction: column;
        justify-content: center;
    }
    .track-art-link
    {
        max-width: 300px;
    }
}